<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Snack Overflow" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Snack Overflow" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


  </head>
  <body>
    <header>

      <%= render 'layouts/navigation' %>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <div class="row">
  <div class="small-2 large-4 columns"><%= image_tag 'snack_icon.png', size: "34x42", :style => 'margin-left: -14px; margin-top: 14px;' %></div>
  <div class="small-4 large-4 columns">
      <a href="#" class="button secondary">Secondary Button</a>
      <a href="#" class="button secondary">Secondary Button</a>
      <a href="#" class="button secondary">Secondary Button</a>

    </div>
  <div class="small-6 large-4 columns"></div>
</div>

  <% if notice.present? %>
    <p class="alert-box success radius"> <%= notice %></p>
      <% end %>
  <% if alert.present? %>
    <p class="alert-box alert round"><%= alert %></p>
      <% end %>
    <p></p>
  </body>
</html>
